<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>

<body>
    <h1>My Blog</h1>
    <%- include('./partials/nav.ejs')  %>

    <div class="about content">
    <h2>Content</h2>
        <p>
            Hi everyone, in this post, we will share with you the story of a thirsty crow. 

            The fable “The Thirsty Cow” contains a valuable lesson. First, it is a moral story for kids, which guides them to work with patience and understanding in time of adversity. Second, telling your kids the thirsty crow story is a good idea. Your kids will learn moral values and also the science of water displacement.
            
            Once upon a time, there lived a crow in a forest close to a town. This crow had been traveling for a long time and, therefore, was extremely thirsty. He looked around for drinking water but wasn’t able to find any.
            The crow began feeling very weak without drinking water. However, he continued to search for water. He flew all around the jungle and the nearby town.
            
            When the crow was traveling over the town, he saw a house. He thought, ‘I am sure there will be some drinking water over here.
            
        </p>
    </div>    
</body>
<%- include('./partials/footer') %>
</html>